<template>
  <b-container>
    <b-input-group>
      <b-form-input type="text" v-model="value" v-on:keydown.enter="AddTodo"/>
      <b-input-group-append>
        <b-button variant="success" @click="AddTodo">追加</b-button>
      </b-input-group-append>
    </b-input-group>
    <List :items="items"/>
  </b-container>
</template>

<script>
import List from '@/components/TodoList2.vue';

export default {
  name: 'Todo2',
  components: {
    List,
  },
  data() {
    return {
      value: '',
      items: [],
    };
  },
  methods: {
    AddTodo() {
      if (this.value === '') {
        alert('文字を入力してください');
        return;
      }
      this.items.push({
        text: this.value,
      });
      this.value = '';
    },
  },
};
</script>
