<template>
  <div>
    <add-todo @AddTodo="AddTodo"/>
    <todo-list :todos="todos"/>
  </div>
</template>

<script>
// コンポーネント読み込み
import AddTodo from '@/components/AddTodo.vue';
import TodoList from '@/components/TodoList.vue';

export default {
  name: 'Todo',
  components: {
    AddTodo,
    TodoList,
  },
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    AddTodo(value) {
      if (value) {
        this.todos.push(
          { text: value },
        );
      }
    },
  },
};
</script>
