<template>
  <b-list-group>
    <item v-for="todo in items" :key="todo.id" :todo="todo"></item>
  </b-list-group>
</template>

<script>
import Item from '@/components/ItemText.vue';

export default {
  name: 'List',
  components: { Item },
  props: ['items'],
};
</script>
