<template>
  <section id="app">
    <b-navbar type="dark" variant="info">
      <b-navbar-brand to="/">My site</b-navbar-brand>

    <b-navbar-nav>
      <b-nav-item to="/todo" :active="$route.name === 'Todo'">Todo</b-nav-item>
      <b-nav-item to="/todo2" :active="$route.name === 'Todo2'">Todo2</b-nav-item>
      <b-nav-item to="/about" :active="$route.name === 'About'">About</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
  <b-container>
    <router-view />
  </b-container>
  </section>
</template>

<script>
export default {
  name: 'app',
  computed: {
  },
  methods: {
  },
};
</script>
<style lang="scss">
</style>
